.netflix-nav {
  background-color: #201f1f;
  color: #fff;
  padding: 15px 20px;
  box-shadow: 0 4px 10px rgba(105, 103, 103, 0.15);
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-links {
  width: 70% !important;
  display: flex;
  justify-content: end;
}

a:hover {
  transition: ease-in 0.3s;
  text-decoration: overline;
}
